# Set default behavior, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.js text
*.jsx text
*.ts text
*.tsx text
*.html text
*.css text
*.json text
*.md text

# Declare files that will always have LF line endings on checkout.
*.sh eol=lf
